.backcolor {
    background-color: rgb(81, 62, 62);
    transition: background-color 0.3s;
}

.nav-link {
    transition: color 0.3s;
}

.nav-link:hover {
    color: rgb(197, 170, 106) !important;
}

.buttonbg {
    background-color: rgb(197, 170, 106) !important;
    color: aliceblue !important; 
    font-family: Bodoni;
    transition: background-color 0.3s, transform 0.2s;
}

.buttonbg:hover {
    background-color: rgb(109, 88, 40) !important;
    transform: scale(1);
}

.fontchange{
    font-family: Bodoni;
}

.chatbot-icon {
    z-index: 1000;
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    background-color: rgb(197, 170, 106);
    color: white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
}

.chatbot-icon:hover {
    background-color: rgb(109, 88, 40);
    transform: scale(1.05);
}
